.cliente-container {
  padding: 20px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.cliente-container h1 {
  margin-bottom: 20px;
  text-align: left;
}

.seccion-add {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5%;
  align-items: start;
  margin-bottom: 30px;
}

.cliente-add {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cliente-add input {
  flex: 1 1 calc(50% - 20px);
  min-width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cliente-add button {
  flex: 1 1 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cliente-add button:hover {
  background-color: #218838;
}

.numeric-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 200px;
  margin: 0;
}

.key {
  padding: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #171717;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.key:hover {
  background-color: #444;
}

.clear {
  background-color: #ff0000;
}

.clear:hover {
  background-color: #b30000;
}

.cliente-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  width: 100%; /* Cambiado para que ocupe el 100% del contenedor */
}

.cliente-item {
  background-color: #2c2c2c; /* Fondo oscuro para las cards */
  border: 1px solid #444; /* Borde gris oscuro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  padding: 10px 15px; /* Espaciado interno */
  transition: transform 0.3s; /* Transición suave para el efecto hover */
  color: #ffffff; /* Color del texto claro */
  width: 250px; ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  
}

.cliente-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.cedula{
  display: flex;
  flex-direction: row;
  font-size: small;
  background-color: #444;
  padding: 2px 5px;
  width: fit-content;
  color: #c8c6c6;
  border-radius: 50px;
}

.cliente-name{
  font-size: large;
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
}

.cliente-item:hover {
  transform: translateY(-5px);
}

.cliente-item span {
  display: block;
  margin-bottom: 10px;
}

.cliente-item button {
  color: #ff0000; 
  cursor: pointer; 
  font-size: large;
  text-align: right;
  background-color: transparent;
}

.cliente-item button:hover {
  background-color: transparent;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .seccion-add {
      grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
  }

  .cliente-add input {
      flex: 1 1 100%; /* Los inputs ocupan el 100% del ancho */
  }

  .cliente-item {
      max-width: 100%; /* Los items ocupan el 100% del ancho */
      flex: 1 1 calc(100% - 20px); /* Ajustado para que se adapte mejor */
  }

  .numeric-keypad {
      max-width: 100%; /* Asegura que el teclado numérico ocupe el 100% */
  }
}

@media (max-width: 480px) {
  .cliente-add input {
      font-size: 14px; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }

  .cliente-add button {
      font-size: 14px; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }

  .key {
      padding: 30px; /* Reduce el padding de las teclas en pantallas pequeñas */
      font-size: 16px; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }

  .cliente-item {
      padding: 10px; /* Reduce el padding de los items en pantallas pequeñas */
  }

  .cliente-item button {
      padding: 6px 10px; /* Reduce el padding de los botones en pantallas pequeñas */
  }
}