/* SesionScreen.css */
.sesion-screen {
    padding: 20px;
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
  }
  
  .error-message {
    color: red;
  }