/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ancho fijo para la sidebar */
    height: 100vh;
    background-color: #fff;
    color: #000000;
    padding-top: 0px; /* Espacio para el header */
    z-index: 1001;
    transition: transform 0.3s ease; /* Para transiciones suaves */
    transform: translateX(-100%); /* Por defecto, está oculto fuera de la pantalla */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Cuando la sidebar está visible, cambiamos la propiedad transform */
  .sidebar.open {
    transform: translateX(0);
    padding: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sidebar li {
    padding: 15px 15px;
    color: #2f2f2f;
  }

  .sidebar-link{
    color: #ababab;
  }
  
  .sidebar li:hover {
    background-color: #FF7F00; /* Color de fondo al pasar el mouse */
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
  }
  
  /* Aseguramos que el contenido principal se mueva hacia la derecha cuando la sidebar esté visible */
  .main-content {
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.open ~ .main-content {
    margin-left: 250px; /* Desplazamos el contenido principal cuando la sidebar esté abierta */
  }
  .sidebar-logo{
    padding: 10px;
    width: 50%;
    margin-bottom: 10vh;
  }
  .sidebar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-footer{
    position: absolute;
    bottom: 5vh;
    width: 90%;
  }

  .sidebar .menu-button {
    background: none;
    border: none;
    color: #FF7F00;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu-button:hover {
    background-color: #FF7F00;
    border-radius: 4px; /* Bordes redondeados para el hover */
    color: #ffffff;
  }
  
  /* Responsive Styles: Cuando la pantalla sea pequeña, la sidebar debe colapsar */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px; /* Puedes ajustar el ancho en pantallas pequeñas */
    }
  
    .sidebar.open ~ .main-content {
      margin-left: 200px;
    }
  }

